<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update Blog</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Title:</label>
        <textarea class="form-input" type="text" id="blog-name" name="blog-name">{{name}}</textarea>
      </div>
      <div class="form-group">
        <label for="add-details">Update details:</label>
        <textarea class="form-input" type="text" id="add-details" name="add-details">{{add_details}}</textarea> 
      </div>
      <div class="form-group">
        <label for="blog-desc">Contents:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc">{{description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="update_btn" class="btn btn-primary" data-blog_id={{id}}>Update Blog!</button>
      </div>
    </form>
  </div>
  </div>

<script src="/js/update.js"></script>
